@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fondo de huellas en la navegación */
nav {
  background-image: url('/paw.jpg');
  background-repeat: repeat-x;
  background-position: bottom center;
  padding-bottom: 1rem; /* Espacio para que las huellas no queden recortadas */
}
